.sliding-component {
  width: 500px;
  transition: transform 0.5s ease;
}

.hidden {
  transform: translateX(100%);
}

.visible {
  transform: translateX(0);
}

.form_block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.input {
  width: 300px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  color: black;
}